

#vistaConoceP{
  display: none;
  height: 100%;
}

body{
background-image: url("img/fondo.jpg");
font-family: fantasy;
background-size: cover;

}

header{
  background: #88A7C9;
  opacity: 0.9;
 width: 100%;   
}
header #logo{
  width: 10%;
  height: 10%;
  padding-top: 0em;
  display: inline-block;  
  margin-left: 5mm;
}

nav{
  float: right;
  padding-right: 50mm ;
  padding-top: 0em; 
  
}

nav ul li{
 
  display: inline-block;  
    margin: 2mm;
    font-size: 6mm ;

  }

nav ul li a {
    text-decoration: none;
    padding: 20px;

}

nav ul li a:hover {
 background-color: #DEC02D;
 
  
}

#root{
  background: #DEC02D;
  opacity: 0.9;
  width: 50%;
  height:60%;
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 15%;
  padding-top: 20px;

  border-radius: 10mm;
}

#vistaPpal p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
text-align: center;
}

#titulovistaConocer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  /* position: absolute; */
  right: 20px;

}

#carateristicas {
   height: 100%;
   width: 100% ;
   display: flex;
   flex-direction: row;
}

#imgPokemon{
  height: 80%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textImage{
  color: #153262;
}

#ImgPok{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#atributo{
  height: 80%;
  width: 65%;  
}

#atributo2{
  background-color:#4177A9;
  width: 80%;
  height: 80%;
  margin: 10%;
  border-radius: 20px;
}  
#linea1{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#titulo{
  color :white;
  text-align: center;
}
#linea2{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;

}


#altura{
  width: 33.3%;
  height: 100%;

}
#alturatitulo{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#alturavalor{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.altuValor{
  color:#E0F8F7;
  margin:0px
}
.tituloatributo{
  color: #DEC02D;
  margin: 0px;
}
#peso{
  width: 33.3%;
  height: 100%;
}

#multiplicador{
  width: 33.3%;
  height: 100%;
}


#linea3{
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: row;
}

#tipo{
  width: 55%;
  height: 100%;
}

#debilidades{
  width: 45%;
  height: 100%;
}

.tipotitulo{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tipovalor{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


footer{
  background: #C71616;
  opacity: 0.9;
  position: fixed;   
  bottom: 0;
  width: 100%; 
  height: 10%;
  margin-bottom: 1mm;
  text-align: center;
  
 
}


footer p{
margin: auto;
color: white;

font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
font-style: normal;
text-align: center;
}