*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#vistaConoceP, #vistaEvoluciones, #vistaCombate {
  display: none;
  /* height: 100%; */
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.padre{
  /* background: 5px solid rgb(45, 13, 77); */
  background-image: url("img/fondo1.jpg");
  background-position: center;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 645px;
  align-items: center;
}

header{
  /* border: 5px solid rgb(136, 133, 139); */
  background: #051948;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 4.375em;
  width: 100%;
  
  
}

  .logo{
    max-width: 100%;
    height: auto;
    flex: 1 1 30%;
    align-items: center;
  }

  .logo img{
    max-width: 100%;
    height: auto;
    }

  .menu{
    /* border: 5px solid rgb(139, 133, 133); */
    display: flex;
    flex-flow: row nowrap;
    flex: 2 1 70%;
    height: 60px;
  }
      li{
        list-style: none;
        /* display: inline-block; */
      }

       .menu a{
          color: white;
          text-decoration: none;
        }

#root{
  /* border: 5px solid rgb(29, 29, 27); */
  height: 90%;
  width: 90%;
  border-radius: 2em;
  opacity: 0.8;
  background: #ECF2F4;
  padding: 0.625em;
  margin: 0.625em;
  border: 1px solid #4177A9;
  
  
}

#vistaPpal{
  /* border: 5px solid rgb(94, 255, 0); */
  justify-content: center;
  color: #051948;
  text-align: center; 
  padding: 20px 5px;
  width: 100%;
  height: 90%;
  position: relative;
  align-items: center;
  
}

#vistaConoceP{
  /* border: 5px solid rgb(0, 255, 115); */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #051948;
  padding: 10px 10px;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#tituloVistaConocer{
 
  font-size: 0.75em;
  color: #051948;
  border-radius: 1px solid #051948 ;
  text-align: center;
}

.buscarP{
  /* border: 5px solid rgb(0, 17, 255); */
  color: #051948;
  font-size: 0.875em;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  margin: 10px;
}

#numPokemon{
  margin: 0 5px 5px 5px;
  width: 30%;
  border: 1px solid #051948;
  border-radius: 4px;
  outline: none;
  }

#carateristicas{
  /* border: 5px solid rgb(221, 23, 181); */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#imgPokemon{
  /* border: 5px solid rgb(23, 92, 221); */
  width: 100%;
  height:auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 2px 0;
  
}

#imgPok{
  width: 40%;
  height: auto  ;

}

#detallePokemon{
  /* border: 5px solid rgb(216, 125, 21); */
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  border: 2px solid #153262;
  border-radius: 0.5em;
  margin: 5px 0;
}

.line1DetalleP{
  /* border: 5px solid rgb(23, 191, 221); */
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.line2DetalleP, .line3DetalleP{
  /* border: 5px solid rgb(216, 213, 21); */
  display: flex;
  flex-flow: row nowrap;
  flex: 1 1 auto;
  align-items: center;
  margin: 10px 0;

}

.alturaPeso{
  /* border: 5px solid rgb(216, 21, 174); */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 1 1 50%;
  
}


.weight, .height{
  /* border: 5px solid rgb(216, 83, 21); */
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 50%;
  align-items: center;
  
}

.contenidoMultiplicador{
  /* border: 5px solid rgb(21, 193, 216); */
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 50%;
  align-items: center;
  align-content: flex-start;
}

#multipliers{
  /* border: 5px solid rgb(21, 193, 216); */
  display: flex;
  flex-flow: row nowrap;
  flex: 0 1 auto;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}


.contenidoTypes{
  /* border: 5px solid rgb(216, 21, 200); */
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 50%;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  height: 120px;
}

#typePokemon{
  /* border: 5px solid rgb(216, 21, 70); */
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 80%;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.contenidoDebilidades{
  /* border: 5px solid rgb(216, 213, 21); */
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 50%;
  align-items: center;
  width: 100%;
  height: 120px;
  align-content: flex-start;
}

#weaknesses{
  /* border: 5px solid rgb(37, 216, 21); */
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 80%;
  align-items:center;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  
}

    #weaknesses p{
      /* border: 5px solid rgb(24, 21, 216); */
      display: flex;
      justify-content: center;
      flex: 0 1 35%;
    }

    .tituloatributo, .line1DetalleP{
      font-weight: bolder;
      color: #153262;
    }

    #weaknesses, #typePokemon, #multipliers, .altuPesoValor{
      font-size: 0.875em;
      color:#834A49; 
      font-weight: bold;
    }

footer{
  background: #051948;
  display: flex;
  justify-content: center;
  color: white;
  height: 25px;
  width: 100%;
  /* position: absolute; */
}

footer p{
  font-size: 12px;
}

/* ----------------------------------------------------------------------- */
/* MEDIA QUERIES */

/* -------TABLETS MAX 768 */
@media screen and (max-width:768px){
 
  .logo img{
    /* border: 5px solid rgb(8, 236, 38); */
    max-width: 100%;
    height: auto;
    }
}


/* -------DESKTOP MAX 1200 Y 1600 */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {

    .logo img{
      /* border: 5px solid rgb(8, 236, 38); */
      /* max-width: 100%;     */
      width: 35%;
      height: auto;
      }


#imgPokemon{
 
  width: 35%;
  height:40% ;
 
}

  #imgPok{
  width: 50%;

}

}

